{% extends "mysite/header.html" %}


{% block content %}
{% load static %}


<div>
    <br>
    <h1>Here you'll find the placed I have worked at, and the roles I played in them.</h1>
</div>

<br>

<!-- LTI Internship -->
<hr class="featurette-divider">
<div class="row featurette mt-3">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Digital Technology Intern - RPA<br><span class="text-muted">Larsen & Toubro Infotech</span></h2>
        <p class="lead mt-3">Worked with remote team to learn Robotic Process Automation workflow. Studied RPA developer foundation training via UiPath Academy and programmed multiple scripts for "shipment tracking" and "competitive analysis" as part of Vitamix's (the client) process transformation to digital via RPA.</p>
    </div>

    <div class="col-md-5 text-center">
        <h4 class="text-muted">May '22 - Aug '22</h4>
        <h5 class="text-muted">Remote, office in Cleveland, OH</h5>
    </div>

</div>


<!-- PSU Grader Job and GA -->
<hr class="featurette-divider">
<div class="row featurette mt-3">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Global Ambassador Coordinator <br><span class="text-muted">Penn State Harrisburg</span></h2>
        <p class="lead mt-3">Assisted in executing events, creating media, and organizing social media of the Global Ambassador student organization at Penn State Harrisburg.</p>
        <br>
        <h2 class="featurette-heading fw-normal lh-1">Math and Computer Science Grader <br><span class="text-muted">Penn State Harrisburg</span></h2>
        <p class="lead mt-3">Worked under Math and Computer Science faculty to grade assignments and proctor quizzes of Penn State Harrisburg undergraduate students.</p>
    </div>

    <div class="col-md-5 text-center order-md-1">
        <h4 class="text-muted">Sept '21 - May '23</h4>
        <h5 class="text-muted">Middletown, PA</h5>

        <div class="container-fluid text-center mt-1">
            <img class="img-fluid img-thumbnail center-block" src="{% static 'images/professional/pennGrader.jpg' %}" alt="dipen as grader" height="325rem" width="325rem">
        </div>

    </div>
</div>


<!-- Amadeus -->
<hr class="featurette-divider">
<div class="row featurette mt-3">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Software Engineer - L1<br><span class="text-muted">Amadeus</span></h2>
        <p class="lead mt-3">Member of Airlines Inventory Schedules team. Responsibilities include end-to-end software testing, automation efforts and maintenance tasks for the Amadeus’ flagship product “Altea”, which is used by 100+ major Airlines for their day-to-day operations. Revamped the automated testing framework with colleague, which in turn reduced the total execution time by 40%. Made the test cases more robust, stable, and easier to maintain, which in turn saved two man-days every sprint. Apart from this, I was also part of the product’s security-assessment team.</p>    
    </div>

    <div class="col-md-5 text-center">
        <h4 class="text-muted">Jul '19 - Jun '21</h4>
        <h5 class="text-muted">Bengaluru, Karnataka, India</h5>

        <div class="container-fluid text-center mt-1">
            <img class="img-fluid img-thumbnail center-block" src="{% static 'images/professional/1A.jpg' %}" alt="dipen's first day" height="325rem" width="325rem">
        </div>

    </div>

</div>


<!-- Cybersecurity Research Project Intern -->
<hr class="featurette-divider">
<div class="row featurette mt-3">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Cybersecurity Research Project Intern <br><span class="text-muted">VJTI, Mumbai</span></h2>
        <p class="lead mt-3">Research for SCADA Intrusion Detection System using ELK Stack</p>
    </div>
    <div class="col-md-5 text-center order-md-1">
        <h4 class="text-muted">Jun '17 - Jul '17</h4>
        <h5 class="text-muted">Mumbai, India</h5>
    </div>
</div>



<!-- LTI -->
<hr class="featurette-divider">
<div class="row featurette mt-3">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Mobility Department Intern<br><span class="text-muted">Larsen & Toubro Infotech</span></h2>
        <p class="lead mt-3">Developed and tested “Mixed Reality” apps for Microsoft Hololens using Unity3D</p>
    </div>

    <div class="col-md-5 text-center">
        <h4 class="text-muted">Jul '19 - Jun '21</h4>
        <h5 class="text-muted">Mumbai, India</h5>
    </div>

</div>


{% endblock %}